h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  font-size: 0.8rem;
  font-weight: 100;
}

li {
  font-size: 16px;
  font-weight: 200;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #ffffff;
  overflow: auto;
}
.header__logo {
  text-decoration: none;
  color: #335576;
  text-underline-offset: 0.2em;
  transition: text-underline-offset 400ms, -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms, text-underline-offset 400ms;
  transition: text-decoration-color 300ms, text-underline-offset 400ms, -webkit-text-decoration-color 300ms;
}
.header__logo:hover {
  -webkit-text-decoration: underline 0.15em #335576;
          text-decoration: underline 0.15em #335576;
  text-underline-offset: 0.4em;
}
.header__logo:hover:visited {
  color: #335576;
}

.navigation {
  padding: 0 1rem;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navigation__link {
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  color: black;
  text-underline-offset: 0.2em;
  transition: text-underline-offset 400ms, -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms, text-underline-offset 400ms;
  transition: text-decoration-color 300ms, text-underline-offset 400ms, -webkit-text-decoration-color 300ms;
}
.navigation__link:hover {
  -webkit-text-decoration: underline 0.15em black;
          text-decoration: underline 0.15em black;
  text-underline-offset: 0.4em;
}
.navigation__link--active {
  border-bottom: 0.2rem solid #DB7A4E;
}
.navigation__link:visited {
  color: black;
}

.card {
  background-color: #ffffff;
  padding-left: 3rem;
  margin-top: 3rem;
  overflow: auto;
}
.card__title {
  color: #335576;
}
.card__content {
  display: flex;
  margin: 6rem;
  justify-content: space-around;
}
.card__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 15.625rem;
  height: 19.125rem;
}
.card__destination-img {
  width: 15.625rem;
  height: 23.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -3rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}
.card__destination-img:hover {
  border: 0.1875rem solid #DB7A4E;
  opacity: 0.5;
}
.card__name {
  color: #ffffff;
  position: absolute;
  margin-bottom: -19rem;
  margin-left: 9rem;
}

.footer {
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  padding: 5rem;
  align-items: center;
  position: relative;
  height: 10rem;
  overflow: auto;
}
.footer__items {
  margin: 5rem;
  height: 129px;
}
.footer__social {
  width: 7.5rem;
}
.footer__title {
  color: #335576;
}
.footer__subtitle {
  color: #DB7A4E;
  font-size: x-small;
}
.footer__subtitle--margin {
  margin-top: 0;
  margin-bottom: 0;
}
.footer__text {
  color: #335576;
}
.footer__timings {
  display: flex;
}
.footer__hours {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.footer__link {
  padding: 0.25rem;
}
.footer__logo {
  margin-top: 1rem;
  width: -0.5rem;
  height: 1.25rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem 3rem 3rem;
  background-color: #FEFAF5;
  overflow: auto;
}
.hero__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 32rem;
}
.hero__heading {
  color: #335576;
}
.hero__description {
  color: #335576;
}
.hero__link {
  text-decoration: none;
  background-color: #DB7A4E;
  padding: 0.5rem 2.5rem;
  color: #ffffff;
  border-radius: 2rem;
}
.hero__picture {
  width: 26rem;
  height: 23rem;
}/*# sourceMappingURL=main.css.map */