@use './mixins';
@use './typography';
@use './variables';
@use './global';

.footer {
    background-color: variables.$color-quaternary;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
    position: relative;
    height: 10rem;
    
    &__items {
        margin: 5rem;
        height: 129px;
    }

    &__social{
        width: 7.5rem;
    }

    &__title{
        color: variables.$color-secondary;
    }

    &__subtitle {
        color: variables.$color-tertiary;
        font-size: x-small;
            &--margin{
                margin-top: 0;
                margin-bottom: 0;
            }
    }

    &__text{
        color: variables.$color-secondary;
    }

    &__timings{
        display: flex;
    }

    &__hours{
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
    }

    &__link {
        padding: 0.25rem;
    }
    
    &__logo{
        margin-top: 1rem;
        width: -0.5rem;
        height: 1.25rem;
    }
    
}