@use './global';
@use './mixins';
@use './typography';
@use './variables';

.destination{
    background-image: url(../../assets/Images/greece.jpg); 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 51rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;


    &__name{
        @include mixins.card-title;
        margin-left: 10rem;
        margin-bottom: -5rem;
        
    }

    &__content {
        display: flex;
        margin: 4rem;
        padding: 4rem;
        justify-content: space-evenly;
    }

    &__info{
        background-color: variables.$color-primary;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        width: 18rem;
        height: 24rem;
        border: .0625rem solid variables.$color-senary;
        border-radius: .3125rem;
        box-shadow: 0 .25rem .25rem variables.$color-senary;

        &:hover{
                border: .1875rem solid variables.$color-tertiary;
        }
    }

    &__day{
        border-bottom: .2rem solid  variables.$color-quinary;
        padding: 0 6rem;
        margin: 1rem 0 0 0;
    }

    &__schedule{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-left: 2rem;
        padding-right: 3rem;
        margin: 0 4rem 4rem 4rem;
    }

    &__activity {
        list-style: none;
        background-color: variables.$color-quaternary;
        padding: 1rem 5.5rem;
        margin: 1rem 0 0 1.5rem;
        
    }
}


