@use './variables';
@use './typography';
@use './mixins';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: variables.$color-primary;
    
    &__logo{
        text-decoration: none;
        color: variables.$color-secondary;

            &:visited {
                color: variables.$color-secondary;
            }
    }
}

.navigation {
    padding: 0 1rem;

    &__list{
        @include mixins.reset-list;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        @include mixins.nav-link;
        color: variables.$color-quinary;
        

        &--active{
            border-bottom: 0.2rem solid variables.$color-tertiary;
        }

        &:visited{
            color: variables.$color-quinary;
        }
    }

}